<div *ngIf="produto">
	<form [formGroup]="form">
		<div class="row form">
			<input type="text" readonly [(ngModel)]="produto.id" formControlName="id" style="display: none">
			<div class="col-xs-12 col-md-6">
				<mat-form-field class="full-width-field" hintLabel="Máximo 50 caracteres">
					<input matInput #nome maxlength="50" [(ngModel)]="produto.nome" placeholder="Nome Produto" formControlName="nome" required>
					<mat-error *ngIf="nome.invalid">{{getErrorMessageNome()}}</mat-error>
					<mat-hint align="end">{{nome.value?.length || 0}}/50</mat-hint>
				</mat-form-field>
			</div>
			<div class="col-xs-12 col-md-6">
				<mat-form-field class="full-width-field" hintLabel="Máximo 50 caracteres">
					<input matInput #descricao maxlength="50" [(ngModel)]="produto.descricao" placeholder="Descricao Produto" formControlName="descricao" required>
					<mat-error *ngIf="descricao.invalid">{{getErrorMessageDescricao()}}</mat-error>
					<mat-hint align="end">{{descricao.value?.length || 0}}/50</mat-hint>
				</mat-form-field>
			</div>
		</div>
		<div class="row form mt-5">
			<div class="col-xs-12 col-md-6">
				<mat-form-field class="full-width-field">
					<input matInput #preco type="number" step='0.01' [(ngModel)]="produto.preco" placeholder="Preco Produto" formControlName="preco" required>
				</mat-form-field>
			</div>
			<div class="col-xs-12 col-md-6">
				<mat-form-field class="full-width-field">
					<mat-select required="true" placeholder="Categoria" [(ngModel)]="produto.categoria_id" formControlName="categoria_id">
						<mat-option *ngFor="let categoria of categorias" [value]="categoria.id">
							{{ categoria.nome }}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
		</div>
		<div class="botoes text-right mt-3">
			<button mat-raised-button class="mr-2" color="primary" (click)="updateProduto()">Editar</button>
			<button mat-raised-button color="basic" (click)="limpar()">Limpar</button>
		</div>
	</form>
</div>