
<table class="table table-striped">
    <thead>
        <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">Descrição</th>
        <th scope="col"><i class="material-icons"> build</i></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let produto of produtos">
            <td>{{ produto.id }}</td>
            <td>{{ produto.nome }}</td>
            <td>{{ produto.descricao }}</td>
            <td>
                <a [routerLink]="['/produtos', produto.id]" class="btn btn-success">Editar</a>
                <a class="btn btn-danger" (click)="deleteProduto(produto)">Excluir</a>
            </td>
        </tr>
    </tbody>
</table>