
<table class="table table-striped">
    <thead>
        <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">Descrição</th>
        <th scope="col"><i class="material-icons"> build</i></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let categoria of categorias">
            <td>{{ categoria.id }}</td>
            <td>{{ categoria.nome }}</td>
            <td>{{ categoria.descricao }}</td>
            <td>
                <a [routerLink]="['/categorias', categoria.id]" class="btn btn-success">Editar</a>
                <a class="btn btn-danger">Excluir</a>
            </td>
        </tr>
    </tbody>
</table>