<div class="row site">
    <a routerLink="/produtos" class="col-sm-12 offset-md-3 col-lg-3">
      <div class="quadrado custom-btn quadrado--margin">
        <div class="icone"><i class="material-icons">
            laptop_mac
            </i></div>
        <div class="titulo">Produtos</div>
      </div>
    </a>
    <a routerLink="/categorias" class="col-sm-12 col-lg-3">
      <div class="quadrado custom-btn1">
        <div class="icone"><i class="material-icons">
            widgets
            </i></div>  
        <div class="titulo">Categorias</div>        
      </div>
    </a>
</div>